
@charset "UTF-8";
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-item {
	height: 550px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}